
svg.icon, svg.icons {
    font-size: 1em;
}

i.icon {
    display: inline-block;
    opacity: 1;
    margin: 0 .25rem 0 0;
    width: 1.18em;
    height: 1em;
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    text-align: center;
    speak: none;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.ui.label > img {
    height: 2.3666em !important;
}

.ui.icon.input > svg.icon:not(.link) {
    pointer-events: none;
}
.ui[class*="left icon"].input > svg.icon {
    left: auto;
    right: 10px;
    border-radius: 0 .28571429rem .28571429rem 0;
}
.ui.icon.input > svg.icon {
    cursor: default;
    font-size: 0.4em;
    position: absolute;
    line-height: 1;
    text-align: center;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 2.67142857em;
    opacity: .5;
    border-radius: .28571429rem 0 0 .28571429rem;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}